{
  // Format: GroupName
  "ExcludedGroups": [
    "Domain Admins",
    "Enterprise Admins",
    "Administrators",
    "Schema Admins",
    "Account Operators",
    "Server Operators",
    "Backup Operators",
    "Print Operators",
    "Cert Publishers",
    "Group Policy Creator Owners",
    "Builtin\\Administrators",
    "DNS Admins",
    "Exchange Admins",
    "Organization Management",
    "Security Admins",
    "Security Operators",
    "System Managed",
    "Domain Controllers",
    "Enterprise Domain Controllers",
    "RAS and IAS Servers",
    "Certificate Managers",
    "CA Administrators",
    "S-1-5-32-544",
    "S-1-5-32-548",
    "S-1-5-32-549",
    "S-1-5-32-550",
    "S-1-5-32-551",
    "S-1-5-32-522",
    "S-1-5-18",
    "S-1-5-32-555",
    "S-1-5-32-520"
  ],
  // Format: DOMAIN\\Username (use double backslash in JSON)
  "ExcludedUsers": [],
  "TechnicalConstants": {
    "AuthEKUs": [
      "1.3.6.1.5.5.7.3.2",
      "1.3.6.1.4.1.311.20.2.2",
      "1.3.6.1.5.2.3.4"
    ],
    "ESC2EKUs": [
      "2.5.29.37.0"
    ],
    "ESC3EKUs": [
      "1.3.6.1.4.1.311.20.2.1",
      "Certificate Request Agent"
    ],
    "EnrollGuid": "0e10c968-78fb-11d2-90d4-00c04f79dc55",
    "AutoenrollGuid": "a05b8cc2-17bc-4802-a710-e7c15ab866a2",
    "EDITF_ATTRIBUTESUBJECTALTNAME2": 262144
  }
}

